li{
    display:inline;
}

li a:hover{
    background-color: red;
}

li a {
    display: inline;
    background-color: blue;
    color: white;
    text-align: center;
    padding:15px;
    text-decoration: none;
  }

ul {
    list-style-type: none;
    width:100%;
    height:50px;
    overflow: hidden;
    background-color: rgb(66, 66, 66);
  }

  .titleContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:10vh;
    border:5px black solid
  }

  .aboutContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20vh;
    border:5px solid black;
    margin-top:10px;
  }

  .projectContainer{
    width:100%;
    height:125vh;
    margin-top:10px;
    border: 5px solid black;
  }

  #imageContainer-1{
    width:25%;
    height:45vh;
  }

  div>img{
    width:100%;
    display: flex;
  }