li{
    display:inline;
}

li a:hover{
    background-color: red;
}

li a {
    display: inline;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding:15px;
    text-decoration: none;
  }

ul {
    list-style-type: none;
    width:100%;
    height:5vh;
    overflow: hidden;
    background-color: rgb(66, 83, 136);
  }

  .titleContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:10vh;
  }

  .aboutContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20vh;
    margin-top:10px;
  }

  .projectContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 80vh;
    margin-top:10px;
  }

#imageContainer-1{
    width:25rem;
    height:60vh;
    margin:0 25px;
}

#imageContainer-2{
    width:25rem;
    height:60vh;
    margin:25px 25px;
}

#imageContainer-3{
    width:25rem;
    height:60vh;
    margin:25px 25px;
}

#projectTitle{
    text-align:center;
}

#currentProject{
  width:100%;
  height:10vh;
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#projectImage{
  width:100%;
  height:25vh;
  position:relative;

}

body{
  background-color: rgb(224, 223, 223);
  color: rgb(66, 83, 136);
}

header{
  font-size:50px;
  font-family: 'Courier New', Courier, monospace;
}

p{
  font-family: 'Courier New', Courier, monospace;
}
